.headerMenu {
  height: 80px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.menuContainer {
  display: flex;
  width: 100%;
  align-items: center; /* Align Items Vertically */
  justify-content: space-between;
}
.logoPart {
  display: flex;
}
.logoPart i {
  padding-right: 15px;
  border-right: 1px solid black;
}
.logoPart h2 {
  padding-left: 15px;
  font-family: "Pacifico", cursive;
}
.inputField {
  display: flex;
}
.fa-camera-retro:before {
  font-size: 32px;
}
.btnIcon {
  padding: 0;
  width: 32px;
  height: 32px;
  -webkit-appearance: none;
  background-color: white;
  border: none;
  color: #003569;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  margin: 0 5px;
}
.btnIcon i {
  padding: 0;
}
.btnIcon:focus {
  outline: none;
}
